@import "tailwindcss";

:root {
  --entry-text: #BBA787;
  --entry-bg: #F3EADF;
  --home-text: #967D55;
  --home-important: #866127;
}

@theme inline {
  --color-entry-text: var(--entry-text);
  --color-entry-bg: var(--entry-bg);
  --color-home-text : var(--home-text);
  --color-home-important : var(--home-important);
  --font-primary: var(--font-alice);
  --font-secondary: var(--font-lora);
  --font-elegant : var(--font-slight);
  --font-bsd : var(--font-franck);
}

.musique button{
    height: 40px;
    width: 40px;
    border : 2px #BBA787 solid;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 10;
    padding: 5px;
}

.musique svg{
    padding: 0;
    margin: 0;
    overflow: visible;
}


